{% extends 'layout.html' %}
{% set active_page = "add" %}


{%block title%}Add Recipe{%endblock%}

{% block maincontent %}
    <br>
    <form method='POST'>
        <div class="form-group">
            <label>Recipe Name:</label>
            <input type='text' name='recipe' class="form-control" required></input>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <textarea name='description' class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label>Main Ingredient:</label>
            <select name='ingredient' class="form-control">
                {%for i in all_ingredients %}
                <option value='{{i.ingredient_id}}'>{{i.ingredient_name}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label>Allergen:</label>
            <select name='allergen' class="form-control">
                {%for a in all_allergens %}
                <option value='{{a.allergen_id}}'>{{a.allergen_name}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label>Cuisine</label>
            <select name='cuisine' class="form-control">
                {%for c in all_cuisines %}
                <option value='{{c.cuisine_id}}'>{{c.cuisine_name}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label>Cooking Instructions:</label>
            <textarea name='instructions' class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label>Author's Name:</label>
            <input type='text' name='author' class="form-control" required></input>
        </div>
        <div class="form-group">
            <label>Author's Country of Origin:</label>
            <select name='country' class="form-control">
                {%for co in all_countries %}
                <option value='{{co.author_country_of_origin_id}}'>{{co.author_country_of_origin_name}}</option>
                {%endfor%}
            </select>
        </div>
        <input type='submit'>
    </form>
    <br>
{% endblock %}	