{% extends 'layout.html' %}
{% set active_page = "index" %}


{%block title%}Online Cookbook{%endblock%}

{% block maincontent %}
{% for each_recipe in all_recipes %}

<div class="card mb-3 mt-3 ml-5 mr-5">

  <img class="mx-auto card-img-top" src="static/{{each_recipe.image}}" alt="Card image cap" style="width:250px;height:250px;">
  <div class="card-body mx-auto">
    <h5 class="card-title">{{each_recipe.recipe_name}}</h5>
  </div>  
  <div class="mx-auto">{{each_recipe.cuisine_name}} Cuisine</div>
  <br>
  
            <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#r-{{each_recipe.recipe_id}}">
          Show Recipe
          </button>
          <br>
    <section class='container-fluid'>
    <div class='row'>
      <div class="col-sm-10"></div>
      <div class="col-sm-1"><a href="/edit/{{each_recipe.recipe_id}}"><button>Edit</button></a></div>
      <div class="col-sm-1"><a href="/delete/{{each_recipe.recipe_id}}"><button>Delete</button></a></div>
    </div>
  </section>        
  <br>
          <!-- The Modal -->
          <div class="modal" id="r-{{each_recipe.recipe_id}}">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">{{each_recipe.recipe_name}}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <p>
                    <strong>Description: </strong>{{each_recipe.description|safe}}
                  </p>
                  <p>
                    <strong>Main Ingredient: </strong>{{each_recipe.ingredient_name|safe}}
                  </p>
                  <p>
                    <strong>Allergen: </strong>{{each_recipe.allergen_name|safe}}
                  </p>
                  <p>
                    <strong>Cuisine: </strong>{{each_recipe.cuisine_name|safe}}
                  </p>
                  <h5>Cooking Instructions: </h5>
                  <p>
                    {{each_recipe.cooking_instructions|safe}}
                  </p>
                  <p>
                    <strong>Author's Name: </strong>{{each_recipe.author_name|safe}}
                  </p>
                  <p>
                    <strong>Author's Country of Origin: </strong>{{each_recipe.author_country_of_origin_name|safe}}
                  </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>
</div>

{% endfor %}

{% endblock %}	

